body {
  box-sizing: border-box;
  background-image: url("./sources/background.png");
  background-size: cover;
}

* {
  font-family: "VT323";
  color: rgb(142, 236, 236);
}

h1 {
  font-size: 37px;
  font-weight: normal;
  -webkit-text-stroke: 0.3px rgb(91, 88, 255);
}

.tabWrapper {
  display: none;
}

.isActive {
  display: block;
}
